@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Overpass:wght@400;700&display=swap');

:root{
--color-orange: hsl(25, 97%, 53%);
--color-white: hsl(0, 0%, 100%);
--color-light-grey: hsl(217, 12%, 63%);
--color-medium-grey: hsl(216, 12%, 54%);
--color-dark-blue: hsl(213, 19%, 18%);
--color-very-dark-blue: hsl(216, 12%, 8%);
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  font-family:"Overpass", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-very-dark-blue) ;
  margin: 0 20px;
 
}
.wrapper {
background: linear-gradient(120deg, var(--color-dark-blue), var(--color-very-dark-blue));
padding: 1.25rem;
border-radius: 20px;
}

.icon-star{
margin-bottom: 20px;
}

.title{
  color: var(--color-white);
  font-size: 2em;
}
.paragraph{
  color: var(--color-medium-grey);
  margin-bottom: 30px;
}
.rating-list{
  display: flex;
  justify-content: space-around;
}
.button-wrapper{
  text-align: center;
}
.button-rating{
  background-color: var(--color-orange);
  width: 95%;
  border-radius: 30px;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.8em;
  margin-top: 20px;
}
.button-rating:hover{
background-color: var(--color-white);
color: var(--color-orange);
cursor: pointer;
}

@media (min-width:768px){
  .wrapper{
    width: 400px;
  }
}