*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--color-orange: hsl(25, 97%, 53%);
--color-white: hsl(0, 0%, 100%);
--color-light-grey: hsl(217, 12%, 63%);
--color-medium-grey: hsl(216, 12%, 54%);
--color-dark-blue: hsl(213, 19%, 18%);
--color-very-dark-blue: hsl(216, 12%, 8%);
--fontfamily: "Overpass", sans-serif;
}

body {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: var(--fontfamily);
font-size: 0.938rem;
background-color: var(--color-very-dark-blue);
}

.title{ 
    margin: 1rem 0;

 }
.paragraph {
    color: var(--color-light-grey);
}

.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 2rem 0;
}

.item {
border-radius: 100%;
background-color: var(--color-medium-grey);
padding: 1rem;
}

.card {
    border-radius: 20px ;
    background-color: var(--color-dark-blue);
    padding: 2rem;
    margin: 1rem;
}

.btnSubmit {
    background-color: var(--color-orange);
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 20px;
    border: none
}

.hidden {
    display:none;
}

.card:nth-child(2) {
    text-align: center;
}